.places {
    margin: 92px auto 0 auto;
    padding: 0;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
    
}

@media screen and (max-width: 786px) {
    .places {
        max-width: 720px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        width: 100%;
        margin-top: 64px;
    }
}    