.footer__link {
    text-decoration: none;
    color: #ffffff;
    margin-right: 18px;
}

.footer__link:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 621px) {
    .footer__link {
        margin-right: 0;
        margin-bottom: 32px;
        line-height: 24px;
        font-size: 24px;
        align-self: flex-start;
    }

    .footer__link:last-of-type {
        margin-bottom: 48px;
    }

    }
