.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    text-align: center;
    align-self: center;
    z-index: 1;
    margin: 0;

}

@media screen and (max-width: 505px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}