.footer {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
   
    }
}

@media screen and (max-width: 786px) {
    .footer {
      
    }
}

@media screen and (max-width: 320px) {
    .footer {
      
        flex-direction: column;
        margin-left: 16px;
        align-items: flex-start;
        flex-wrap: nowrap;
        margin-right: 0;
    }
}